<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Services Dashboard</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="js/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/navbarFixed.css"/>
	<script src="js/lib/jquery-3.2.0.min.js"></script>
	<script src="js/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="js/src/servicesDashboard.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        	 <a class="navbar-brand" href="#">Services Dashboard</a>
  		</div>	
  		
  		<ul class="nav navbar-nav navbar-right">
	      <li class="dropdown">
	        <a class="dropdown-toggle btn-lg glyphicon glyphicon-option-vertical" title="Additional Links" data-toggle="dropdown" href="#"></a>
	        <ul class="dropdown-menu">
	          <li><a href="/soapFiddle">Soap Fiddle</a></li>
	        </ul>
	      </li>
	    </ul>
	</div>
</nav>

<div class="container-fluid">

<div class="row">
    <div class="col-xs-2 sidebar">
       <ul class="nav nav-pills nav-stacked">
         <li th:each="dashboardEnvironment,iter : ${dashboardEnvironments}"><a data-toggle="pill" th:href="'#env'+${iter.index}" th:text="${dashboardEnvironment.environmentName}"></a></li>
       </ul>
     </div>
	
	<div class="col-xs-10 col-xs-offset-2">
		<div th:if="${dashboardEnvironments.empty}" class="row">
			<div class="col-xs-12">
				<div id="errorMessage" class="alert alert-danger" role="alert">
					<p>
						<strong>Error!</strong>
					</p>
					<p id="errorMessageText">DashBoard services not defined or error reading application properties! Please check application.yml</p>
				</div>
			</div>
		</div>
		
		<!-- Main Content goes here -->
   <div class="tab-content">
	<div th:each="dashboardEnvironment,iter : ${dashboardEnvironments}" th:id="'env'+${iter.index}" class="tab-pane fade in">	
		<h2 class="sub-header well" ><span th:text="${dashboardEnvironment.environmentName}"></span></h2>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Component</th>
                  <th>Operation</th>
                  <th>Status</th>
                  <th>Response Time</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class='js-component-row' th:id="${component.componentIdentifier}" th:each="component : ${dashboardEnvironment.components}">
                  <td th:text="${component.displayName}"></td>
                  <td th:text="${component.operationName}"></td>
                  <td><button class="btn btn-xs js-component-response" data-placement="bottom" data-title="Check Response">Response</button></td>
                  <td class="js-component-timer"></td>
                  <td><a class="btn btn-xs btn-info glyphicon glyphicon-wrench js-component-edit" title="Edit in Soap Fiddle" target="_blank" th:href="@{servicesDashboard/editInFiddle(componentIdentifier=${component.componentIdentifier})}"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
         </div> 
       </div>  
	</div>

</div>

</div>  	
 
</body>
</html>
